
:root{
    --letraPrincipal: 'Open Sans', sans-serif;
    --letraHeader: 'Rubik', sans-serif;
    --grisFondo: #F1F1F1;
    --grisClaro: #b8b8b9;
    --grisOscuro: #54585a;
    --verdeOscuro: #099D8D;
    --verdeClaro: #14D9C4;
    --blanco: #fff;
    --negro: #000;
}

/* HEADER */
.title {
    color: white;
    background-color: #099D8D;
    opacity: 0.95;
    text-transform: uppercase;
    text-align: center;
    width: 480px;
    height: 60px;
    padding-top: 30px;
  }
  .menu-header {
    color: white;
    background-color: #14D9C4;
    opacity: 0.9;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 480px;
    height: 45px;
    padding: 0;
  }
  .menu-header > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    background-color: #14D9C4;
    opacity: 0, 9;
    text-align: center;
    padding: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
  }
  /* HEADER */
   
  

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 320px;
    height: 579px;
    padding: 30px 15px 45px;
    background-color: #b8b8b9 ;
    background-color:opacity 0.2;
    text-align: center;
}

h3{
    color:#099d8d;
    font-family: "Rubik-medium, Arial, Helvetica, sans-serif";
    font-size: 22px;
    font-weight: 500;
   line-height: 2.05;
    text-align: center;
}

p{  
   
    font-family: "OpenSans", "sans-serif";
    font-size: 16px;
   line-height: 1.5;
   text-align: center;
   color: #54585a;}

 
 .secundarycontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: 2225px;
    padding: 30px 15px 45px;
    background-color:white;
}


h4{   
    font-family: "Rubik , Arial, Helvetica";
    font-size: 24px;
    font-weight: 500;
    line-height: 1.88;
    text-align: center;
    color: #099d8d;
  }
  
  h5{  
    margin: 15px 70.5px 0 72.5px;
    font-family: "OpenSans, Arial, Helvetica";
    font-size: 20px;
    line-height: 2.25;
    text-align: center;
    color: black;}
  


.social{
display: flex;
justify-content: center;
align-items: center;
flex-grow: 1;
}

/* Parte Aleksandra */
.hero {
    background-image: url('../Images/image_1.jpg');
    background-position: center;
    width: 100%;
    height: 316px;
    margin-bottom: 76px;
}
.claim {
    display: flex;
    width: 290px;
    height: 80px;
    background-color: white;
    flex-direction: column;
    position: relative;
    justify-content: center;
    top: 276px;
    left: 20px;
}
.claim-content {
    text-align: center;
}
.description {
    text-align: center;
}

/* FOOTER */

.footer{
    border: solid 1px var(--grisClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--letraPrincipal);
}

.footer .copyright{
    color: var(--grisClaro);
    font-size: 14px;
    margin: 20px;
}


.footer .menu li{
    text-align: center;
    line-height: 20px;
}

.footer .menu li a{
    color: var(--grisOscuro);
    font-weight:600;
    opacity: 0.75;
    line-height: 20px;
    text-decoration: none;
}

.footer .logo_footer{
    width: 116px;
    height: 45px;
    margin: 30px;
}

