<main class="main">
  <img class="logo" src="./assets/images/background_contact.jpg" alt="Hero" />
  <section class="description">
    <h2 class="title_description">contacto</h2>
    <p>
      ¿Tienes alguna duda? Estaremos encantadas de ayudarte mediante el
      siguiente formulario.
    </p>
    <p class="required">
      Todos los campos marcados con <span class="asterisk">*</span> son
      obligatorios.
    </p>
  </section>
  <section>
    <include src="./formulario.html"> </include>
  </section>
</main>
