<main class="main">
    <img class="logo" src="./assets/images/image_1.jpg" alt="Hero">

   
   <h3 class="motto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
</h3>


<section class="description"  id="equipo">

<h2 class="title_description">equipo</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ullam quo qui accusantium laboriosam modi illo sint quae corrupti. Animi blanditiis harum iste odio illum voluptatem, vero similique. Rem, non!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quae perspiciatis tenetur blanditiis temporibus asperiores, reiciendis nemo officia quasi aliquam praesentium dolore aut quos voluptate expedita. Cupiditate sequi nemo tempora.</p>

</section>

<section class="container">
<div class="square"></div>
<h3 class="title_container">Fortalezas</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ullam quo qui accusantium laboriosam modi illo sint quae corrupti. Animi blanditiis harum iste odio illum voluptatem, vero similique. Rem, non!</p>
<h3 class="title_container">Debilidades</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quae perspiciatis tenetur blanditiis temporibus asperiores, reiciendis nemo officia quasi aliquam praesentium dolore aut quos voluptate expedita. Cupiditate sequi nemo tempora.</p></section>

<section class="profiles">
<h4 id="perfiles">quiénes somos</h4>
<include src="profiles.html" name="Aleksandra" foto="./images/...." title="foto-manuela" alt="foto-manuela" description="asdasdasdasd" twitter="https://twitter.com/YebraManuela" linkedin="https://linkedin.manuela.......html" github="https://github.com/LitaGarcia"></include>

<include src="profiles.html" name="Manuela" foto="./assets/images/manuela.png" title="foto-manuela" alt="foto-manuela" description="A.K.A La Esponjita Lita, nacida por y para aprender. Se desvive por solucionar todo aquello posible, siempre acompañada de un monster y porquerías -así como de sus fieles compañeros de vida: sus animales-. Se desvive por los videojuegos, la lengua alemana, y por intentar hacer un mundo más accesible para todo ser vivo." twitter="https://twitter.com/YebraManuela" linkedin="https://es.linkedin.com/" github="https://github.com/LitaGarcia" mail="mailto:manuelagarciayebra@gmail.com"></include>

<include src="profiles.html" name="Marianela" foto="  title="foto-manuela= "./images/...." alt="foto-manuela" description="asdssadasd" twitter="https://twitter.com/YebraManuela" linkedin="https://linkedin.manuela.......html" github="https://github.com/LitaGarcia"></include>

<include src="profiles.html" name="Nerea" foto="./assets/images/nerea_image(1).jpg" title="foto-nerea" alt="foto-nerea" description="Inquieta desde que tengo uso de razón, buscadora sin saber de qué, inconformista. Me adentro en el front-end para cambiar mi vida y la manera de ver las cosas. La pasión y la responsabilidad como motores de vida. " twitter="#" linkedin="#" github="https://github.com/nereazam" mail="mailto:nerea_zama@ hotmail.com"></include>
</section>
</main>
