<main class="main">
    <img class="logo" src="./assets/images/image_1.jpg" alt="Hero">

   
   <h3 class="motto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
</h3>


<section class="description"  id="equipo">

<h2 class="title_description">equipo</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ullam quo qui accusantium laboriosam modi illo sint quae corrupti. Animi blanditiis harum iste odio illum voluptatem, vero similique. Rem, non!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quae perspiciatis tenetur blanditiis temporibus asperiores, reiciendis nemo officia quasi aliquam praesentium dolore aut quos voluptate expedita. Cupiditate sequi nemo tempora.</p>

</section>

<section class="container">
    <div class="square"></div>
    <div class="str_weak">
        <h3 class="title_container">Fortalezas</h3>
        <p>Compartimos y una meta y un objetivo común, que nos focaliza para la consecución de logros en un clima de alta motivación y diversos conocimientos, aptitudes y habilidades. Tenemos una gran capacidad comunicativa y adaptativa, lo que nos hace destacar en el trabajo colaborativo. Nos caracteriza la disposición a la ayuda mutua y la resolucion de problemas. La ilusión nos ayuda y el respeto hacia cada una de nosotras nos hace fuertes.</p>
    </div>
    <div class="str_weak">
        <h3 class="title_container">Debilidades</h3>
        <p>Nos iniciamos en un proceso de aprendizaje en el que aún no tenemos todos los conocimentos necesarios, y tenemos un gran camino que recorrer, pero el esfuerzo y la motivacion serán resolutorias. Provenimos de sectores diversos, distintas carreras laborales y eso nos hace diferentes, lo que también muchos aspectos es constructivo y enriquecedor para el grupo y también de visto desde la perspectiva individual.
        </p>
    </div>

</section>

</section>
<h4 id="perfiles">quiénes somos</h4>
<include src="profiles.html" name="Aleksandra" foto="./images/...." title="foto-manuela" alt="foto-manuela" description="asdasdasdasd" twitter="https://twitter.com/YebraManuela" linkedin="https://linkedin.manuela.......html" github="https://github.com/LitaGarcia"></include>

<include src="profiles.html" name="Manuela" foto="./assets/images/manuela.jpg" title="foto-manuela" alt="foto-manuela" description="A.K.A 'La Esponjita Lita', nacida por y para aprender. Me desvivo por solucionar todo aquello para un bien común, junto a mis fieles compañeros de vida: mis animales. Apasionada de los videojuegos, el anime y la lengua alemana, busco hacer un mundo más accesible a través de la tecnología." twitter="https://twitter.com/YebraManuela" linkedin="https://es.linkedin.com/" github="https://github.com/LitaGarcia" mail="mailto:manuelagarciayebra@gmail.com"></include>

<include src="profiles.html" name="Marianela" foto="./assets/images/marianela.jpg" title="foto-marianela" alt="foto-marianela" description="Bichóloga por naturaleza y amante de todo ser vivo del planeta. Aventurera empedernida y curiosa desde siempre. Viajera y dispuesta siempre a aprender cosas nuevas. Me adentré en esta nueva aventura para retarme a mi misma y cambiar mi vida. Siempre digo que es mejor arrepentirse de lo que haces y no de lo que no haces." twitter="https://twitter.com/MaruMaruL" linkedin="https://www.linkedin.com/in/marianelalandoni/" github="https://github.com/MarianelaLandoni" mail="mailto:mlandonih@gmail.com"></include>

<include src="profiles.html" name="Nerea" foto="./assets/images/nerea.jpg" title="foto-nerea" alt="foto-nerea" description="Inquieta desde que tengo uso de razón, buscadora sin saber de qué, inconformista. Me adentro en el front-end para cambiar mi vida y la manera de ver las cosas. La pasión y la responsabilidad como motores de vida. " twitter="#" linkedin="#" github="https://github.com/nereazam" mail="mailto:nerea_zama@ hotmail.com"></include>
</main>
