<main class="main">
    <img class="logo" src="./Images/image_1.jpg" alt="Hero">

   
   <h3 class="motto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
</h3>


<section class="description"  id="equipo">

<h2 class="title_description">equipo</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ullam quo qui accusantium laboriosam modi illo sint quae corrupti. Animi blanditiis harum iste odio illum voluptatem, vero similique. Rem, non!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quae perspiciatis tenetur blanditiis temporibus asperiores, reiciendis nemo officia quasi aliquam praesentium dolore aut quos voluptate expedita. Cupiditate sequi nemo tempora.</p>

</section>

<section class="container">
<div class="square"></div>
<h3 class="title_container">Fortalezas</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ullam quo qui accusantium laboriosam modi illo sint quae corrupti. Animi blanditiis harum iste odio illum voluptatem, vero similique. Rem, non!</p>
<h3 class="title_container">Debilidades</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quae perspiciatis tenetur blanditiis temporibus asperiores, reiciendis nemo officia quasi aliquam praesentium dolore aut quos voluptate expedita. Cupiditate sequi nemo tempora.</p></section>

</section>
<h4>quiénes somos</h4>
<include src="profiles.html" name="Aleksandra" foto="./images/...." description="hola soy Manuela y estoy usando parámetros poned aquí vuestra info personal" twitter="https://twitter.com/YebraManuela" linkedin="https://linkedin.manuela.......html" github="https://github.com/LitaGarcia"></include>

<include src="profiles.html" name="Manuela" foto="./images/...." description="hola soy Manuela y estoy usando parámetros poned aquí vuestra info personal" twitter="https://twitter.com/YebraManuela" linkedin="https://linkedin.manuela.......html" github="https://github.com/LitaGarcia"></include>

<include src="profiles.html" name="Marianela" foto="./images/...." description="hola soy Manuela y estoy usando parámetros poned aquí vuestra info personal" twitter="https://twitter.com/YebraManuela" linkedin="https://linkedin.manuela.......html" github="https://github.com/LitaGarcia"></include>

<include src="profiles.html" name="Nerea" foto="./images/...." description="hola soy Manuela y estoy usando parámetros poned aquí vuestra info personal" twitter="https://twitter.com/YebraManuela" linkedin="https://linkedin.manuela.......html" github="https://github.com/LitaGarcia"></include>
</main>
