<article>
 <div class="image"> <img src="@@foto" title="@@title" alt="@@alt"></img></div>
  <h5>@@name</h5>
  <p>@@description</p>
  <nav>
    <ul class="social">
      <li>
        <a href="@@twitter" class="first-icon"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </li>
      <li>
        <a href="@@linkedin" class="icon"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
      </li>
      <li>
        <a href="@@github" class="icon"
          ><i class="fa-brands fa-github-alt"></i
        ></a>
      </li>
      <li>
        <a href="@@mail" class="icon"><i class="fa-solid fa-envelope"></i></a>
      </li>
    </ul>
  </nav>
</article>
