$letraPrincipal: "Open Sans", sans-serif;
$letraSecundaria: "Rubik", sans-serif;
$grisFondo: #f1f1f1;
$grisClaro: #b8b8b9;
$grisOscuro: #54585a;
$verdeOscuro: #099d8d;
$verdeClaro: #14d9c4;
$blanco: #fff;
$negro: #000;